/* Home, About and Max Width Media quries */
@media (max-width: 1104px) {
    {
    .about-img, .home-img {
      height: 350px;
      width: 350px;
    }
  }

  @media (max-width: 991px) {
    .max-width {
      padding: 0 50px;
    }
  }

  @media (max-width: 947px) {
    .max-width {
      max-width: 930px;
    }

    .about-para, .home-para {
      width: 100%;
      flex: 100%;
    }

    .about-img, .home-img {
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
      width: 100%;
    }

    @media (max-width: 500px) {
      .about-para, .home-para {
        font-size: 19px;
      }
    }
  }
}

/* Svg Width and Body Height media Quries */
@media (min-width: 200px) {
  svg {
    width: 656px;
  }

  body {
    height: 140rem;
  }
}

@media (min-width: 300px) {
  svg {
    width: 657px;
  }

  body {
    height: 140rem;
  }
}

@media (min-width: 400px) {
  svg {
    width: 657px;
  }

  body {
    height: 140rem;
  }
}

@media (min-width: 500px) {
  svg {
    width: 657px;
  }

  body {
    height: 142rem;
  }
}

@media (min-width: 600px) {
  svg {
    width: 668px;
  }
}

@media (min-width: 700px) {
  svg {
    width: 720px;
  }
}

@media (min-width: 730px) {
  svg {
    width: 768px;
  }

  body {
    height: 137rem;
  }
}

@media (min-width: 800px) {
  svg {
    width: 820px;
  }

  body {
    height: 130rem;
  }
}

@media (min-width: 900px) {
  svg {
    width: 950px;
  }

  body {
    height: 135rem;
  }
}

@media (min-width: 1000px) {
  svg {
    width: 1024px;
  }

  body {
    height: 108rem;
  }
}

@media (min-width: 1200px) {
  svg {
    width: 1280px;
  }

  body {
    height: 96rem;
  }
}

@media (min-width: 1300px) {
  svg {
    width: 1356px;
  }

  body {
    height: 87.5rem;
  }
}

@media (min-width: 1400px) {
  svg {
    width: 1456px;
  }

  body {
    height:
  }
}

@media (min-width: 1920px) {
  svg {
    width: 1926px;
  }

  body {
    height: 91.7rem;
  }
}

@media (min-width: 1200px) {
  .about-para {
    width: 50%;
  }
}

@media (max-width: 820px) {
  .top_header {
    padding: 1rem;
  }

  .top_header section {
    margin: 40px 0;
    align-items: left;
    justify-content: left;
  }

  footer .bottom_content section {
    padding: 1rem;
    display: block;
  }

  footer .bottom_content section a {
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
  }
}
