body {
  height: 400%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #95e1d3, #a4e7d1, #b3edcf, #c3f3ce, #d4f8ce, #dbf9c9, #e2f9c3, #ebf9be, #edf4b1, #f1efa3, #f6e996, #fce38a);
}

.page-wrapper {
  z-index: -1;
  position: absolute;
  display: table;
  width: 100%;
  height: auto;
}

/* All of the nav bar
==================================================== */
.navbar {
  position: fixed !important;
  left: 50%;
  transform: translate(-50%, 0.1%);
  width: 90%;
  background-color: rgba( 255, 255, 255, 0 );
  transition: all 0.3s ease;
  padding: 10px !important;
  z-index: 0;
  border-radius: 20px;
}

.blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
}

.navbar.sticky {
  background: rgba(17, 43, 60, 0.7);
  padding: 5px !important;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0.1px 60px grey;
}

.navbar-brand {
  color: white;
  font-size: 1.75rem !important;
  padding: 20px 20px 15px 20px !important;
  font-weight: bold;
}

.navbar-brand:hover {
  color: white;
}

.Site {
  color: crimson;
}

.navbar-toggler {
  background-color: white;
}

.nav-item {
  list-style: none;
  display: inline-block;
}

.nav-link:hover {
  color: crimson;
}

.collapse {
  padding-left: 12px;
  transition: all 0.3s ease;
}

/* menu btn styling */
.menu-btn-div {
  float: right;
}

.nav-link {
  color: white;
  padding: 0.75rem !important;
  align-items: center;
  display: flex;
  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
}

.fas {
  color: white;
  margin-top: 5px;
}

/* Navbar expand
==============================================
============================================== */
/* Section 1 */
.home-section {
  /* background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%); */
  background-image: linear-gradient(to left bottom, #a84373, #a2548b, #99649f, #8e74af, #8382b9, #7b82b9, #7381b9, #6b81b8, #6273b1, #5b65a9, #5556a1, #524797);
  background-size: cover;
  display: flex;
}

.home-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 150px 80px 130px 80px;
}

.home-img {
  height: 390px;
  width: 400px;
  margin-right: 100px;
  margin: auto;
}

.home-logo {
  height: 390px;
  width: 400px;
  object-fit: cover;
  filter: drop-shadow(0px 1px 50px #CFD2CF);
}

.home-text h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Gt Alpina Extended-Thin", serif;
}

.home-text {
  color: white;
}

.home-span {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.home-para {
  width: 45%;
  font-size: 25px;
  margin: auto;
  padding-top: 100px;
  color: white;
}

/* about section */
.about-me {
  background-color: #1e1e1e;
  padding: 100px 0px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.about-img {
  margin: auto;
  height: 400px;
  width: 400px;
}

.website-logo {
  height: 400px;
  width: 400px;
  background-color: white;
  object-fit: cover;
  border-radius: 50%;
}

.about-para {
  text-align: justify;
  margin: 5%;
  color: white;
}

.about-para p {
  font-size: 19px;
}

/* Skills Section */
.skill-section {
  background-size: cover;
  display: flex;
  background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%);
}

.skill-box {
  width: 100%;
  padding-top: 85px;
  text-align: center;
  background-color: ;
  border-radius: 5px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.5);
}

.skill-box h1 {
  color: white;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 3%;
  font-family: "Gt Alpina Extended-Thin", serif;
}

.skill-box .skills-circle ul {
  text-align: center;
  list-style-type: none;
  align-items: center;
  margin-right: 40px;
}

.skill-box .skills-circle ul li {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 50px 50px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.skill-box .skills-circle ul li span {
  color: #a2548b;
}

.skill-box .skills-circle ul li span.text, .skill-box .skills-circle ul li span~b {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50px;
}

.skill-box .skills-circle ul li span.text~b, .skill-box .skills-circle ul li span~b~b {
  font-weight: normal;
  margin-top: 35px;
}

.skill-box .skills-circle ul li span.bar-circle-right, .skill-box .skills-circle ul li span.bar-circle-left {
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #6b81b8;
  clip: rect(0, 75px, 150px, 0);
}

.skill-box .skills-circle ul li span.bar-circle-left {
  background: #ddd;
}

.skill-box .skills-circle ul li span.bar-circle-cover {
  display: block;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background-color: #eee;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.border-shape {
  background: #f56991 none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 3px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
}

.border-shape::before {
  background: #f56991 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 100px;
}

.border-shape::after {
  background: #f56991 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  margin: 0 auto;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 1px;
  width: 100px;
}

/* Qualification Section */
.qualification {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

.qualification-content {
  margin: auto;
  text-align: center;
  margin: 50px;
  height: 100%;
}

.qualification-content h1 {
  font-size: 60px;
  padding: 90px;
}

.qualification-sub-content {
  padding: 15px;
}

/*FOOTER*/
.footer {
  background-color: #1e1e1e;
  width: 100%;
  color: #fff;
  background-size: cover;
}

.footer-container {
  padding: 5%;
}

.header-content {
  margin: 0px 50px 30px 50px;
}

.top_header {
  padding: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top_header section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top_header span {
  padding: 0 1rem;
}

.top_header .fa {
  color: #fff;
  font-size: 35px;
}

.top_header .fa:hover {
  color: #9EB23B;
  transition: 0.5s;
}

.header-anchor {
  color: white;
}

.header-anchor:hover {
  color: #9EB23B;
  text-decoration: none;
  transition: 0.5s;
}

footer .border-shape {
  width: 40%;
}

footer .border-shape::before {
  width: 100%;
  left: 120px;
}

footer .border-shape::after {
  width: 100%;
  right: 120px;
}

footer .bottom_content section {
  padding: 1.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: Center;
}

.social-div {
  margin: auto;
}

.social-ul {
  text-align: center;
  padding: 0px;
  margin: auto;
}

.social-li {
  display: inline-block;
  list-style: none;
  margin: 50px 20px;
}

.social-li .fa {
  font-size: 30px;
  border-radius: 20px;
}

.social-li .fa-facebook:hover {
  transition: .9s;
  color: #3B5998;
}

.social-li .fa-twitter:hover {
  transition: .9s;
  color: #1DA1F2;
}

.social-li .fa-github:hover {
  transition: .9s;
  color: #6e5494;
}

.social-li .fa-linkedin:hover {
  transition: .9s;
  color: #0072b1;
}

.social-li .fa-instagram:hover {
  transition: .9s;
  color: #cd486b;
}

.social-li .fa-codepen:hover {
  transition: .9s;
  color: #B9B7BD;
}

.social-li .fa-whatsapp:hover {
  transition: .9s;
  color: #48C857;
}

.social-div a {
  margin: 20px 50px 20px 50px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
  font-size: 120%;
}

.social-div a:hover {
  color: #f56991;
}

.foot-nav {
  margin: auto;
  text-align: center;
  padding: 1rem;
  display: inline-block;
}

.foot-nav-li {
  color: white;
  font-size: 120%;
  padding: 0px 20px;
}

.foot-nav li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.foot-nav-li:hover {
  color: #f56991;
  text-decoration: none;
  transition: 0.5s;
}

.copyright {
  padding: 0.8em 0;
  background-color: #1e1e1e;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
}

.go-to-top {
  float: right;
}
