body {
  width: 100%;
  height: 280%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #95e1d3, #a4e7d1, #b3edcf, #c3f3ce, #d4f8ce, #dbf9c9, #e2f9c3, #ebf9be, #edf4b1, #f1efa3, #f6e996, #fce38a);
}

.page-wrapper {
  z-index: -1;
  position: absolute;
  display: table;
  width: 100%;
  height: auto;
}

/* All of the nav bar
==================================================== */
.navbar {
  position: fixed !important;
  width: 100%;
  background: transparent;
  transition: all 0.3s ease;
  padding: 10px !important;
  z-index: 0;
}

.navbar.sticky {
  background: #112B3C;
  padding: 1px !important;
}

.navbar-brand {
  color: white;
  font-size: 1.75rem !important;
  padding: 20px 20px 15px 50px !important;
  font-weight: bold;
}

.navbar-brand:hover {
  color: white;
}

.Site {
  color: crimson;
}

.navbar-toggler {
  background-color: white;
}

.nav-item {
  list-style: none;
  display: inline-block;
}

.nav-link:hover {
  color: crimson;
}

.collapse {
  padding-right: 40px;
}

/* menu btn styling */
.menu-btn-div {
  float: right;
}

.nav-link {
  color: white;
  padding: 0.75rem !important;
  align-items: center;
  display: flex;
  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
}

.fas {
  color: white;
  margin-top: 5px;
}

/* Navbar expand
==============================================
============================================== */
/* Section 1 */

.home-section {
    /* background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%); */
  background-image: linear-gradient(to left bottom, #a84373, #a2548b, #99649f, #8e74af, #8382b9, #7b82b9, #7381b9, #6b81b8, #6273b1, #5b65a9, #5556a1, #524797);
  background-size: cover;
  display: flex;
}

.home-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 150px 80px 130px 80px;
}

.home-img {
  height: 390px;
  width: 400px;
  margin-right: 100px;
}

.home-logo {
  height: 390px;
  width: 400px;
  object-fit: cover;
}

.home-text h1{
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Gt Alpina Extended-Thin", serif;;
}

.home-text {
  color: white;
}

.home-span {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.home-para {
  width: 45%;
  font-size: 25px;
  margin: auto;
  padding-top: 100px;
  color: white;
}

/* about section */
.about-me {
  background-color: black;
  padding: 100px 0px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.about-img {
  margin: ;
  width: 45%;
}

.website-logo {
  height: 400px;
  width: 400px;
  background-color: white;
  object-fit: cover;
  border-radius: 50%;
  object-fit: cover;
}

.about-text {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-para {
  width: 55%;
  text-align: justify;
  color: white;
}

.about-para p {
  font-size: 19px;
}

/* @media only screen and (max-width: 800px) {
  body {
    height: 245%;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    height: 235%;
  }
} */

@media (max-width: 1104px) {
  .about-img, .home-img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    max-width: 930px;
  }

  .about-para, .home-para {
    width: 100%;
    flex: 100%;
  }

  .about-img, .home-img {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    width: 100%;
  }

  @media (max-width: 500px) {
    .about-para, .home-para {
      font-size: 19px;
    }
  }
}

.skill-section {
  background-size: cover;
  display: flex;
}

.skill-box {
  width: 100%;
  padding-top: 85px;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}

.skill-box h3 {
  font-size: 60px;
}

.skill-box .skills-circle ul {
  text-align: center;
  list-style-type: none;
  align-items: center;
  margin-right: 40px;

}

.skill-box .skills-circle ul li {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 50px 50px;
  box-shadow: 2px 4px 15px grey;
}

.skill-box .skills-circle ul li span {
  color: #7a7;
}

.skill-box .skills-circle ul li span.text, .skill-box .skills-circle ul li span~b {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50px;
}

.skill-box .skills-circle ul li span.text~b, .skill-box .skills-circle ul li span~b~b {
  font-weight: normal;
  margin-top: 35px;
}

.skill-box .skills-circle ul li span.bar-circle-right, .skill-box .skills-circle ul li span.bar-circle-left {
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #B0DAB9;
  clip: rect(0, 75px, 150px, 0);
}

.skill-box .skills-circle ul li span.bar-circle-left {
  background: #ddd;
}

.skill-box .skills-circle ul li span.bar-circle-cover {
  display: block;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background-color: #eee;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
